<link rel="stylesheet" href="/css/home.css">
<% if (locals.user) {%>

<div id="home-container">
    <div id="students-section" class="col-xs-6">
        <div id="student-actions">
            <!-- <a href="/student/create" id="create-student">New student</a> -->
            <!-- New student Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-student-modal">
                New student
            </button>

            <!-- Student Modal -->
            <div class="modal fade" id="create-student-modal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="student-modal-label">New Student</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/student/create" id="new-student-form">
                                <input type="text" name="name" placeholder="Enter the name" required />
                                <input type="email" name="email" placeholder="Enter the email" required />
                                <input type="text" name="college" placeholder="Enter the college name" required />
                                <input type="text" name="batch" placeholder="Enter the batch" required />
                                <input type="text" name="status" placeholder="Enter the status Placed/Not placed"
                                    required />
                                <input type="number" name="phoneNumber" placeholder="Enter the phone number" required>
                                <input type="number" name="dsa_final_score" placeholder="Enter the DSA Final Score"
                                    min="0" max="10" required>
                                <input type="number" name="webd_final_score" placeholder="Enter the WebD Final Score"
                                    min="0" max="10" required>
                                <input type="number" name="react_final_score" placeholder="Enter the React Final Score"
                                    min="0" max="10" required>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="create-student-btn">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="students-list-wrapper">
            <%- include('student') -%>
        </div>
        <button type="button" class="btn btn-primary" id="download-csv-btn">
            <a href="/interview/download/all" target="_blank">Download CSV</a>
        </button>
    </div>
    <div id="interviews-section" class="col-xs-6">
        <%- include('interview') -%>
    </div>
</div>

<script src="/js/student.js"></script>
<script src="/js/interview.js"></script>

<%}%>